/* CSS RESET FROM https://github.com/Lazzzer00/Best-CSS-Reset-2024 */
*, *::before, *::after{box-sizing: border-box;}
*{margin: 0; padding: 0;}
ul[role='list'], ol[role='list']{list-style: none;}
html:focus-within{scroll-behavior: smooth;}
a:not([class]){text-decoration-skip-ink: auto;}
img, picture, svg, video, canvas{max-width: 100%; height: auto; vertical-align: middle; font-style: italic; background-repeat: no-repeat; background-size: cover;}
input, button, textarea, select{font: inherit;}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {scroll-behavior: auto;}
    *, *::before, *::after {animation-duration: 0.01ms !important;animation-iteration-count: 1 !important;transition-duration: 0.01ms !important;scroll-behavior: auto !important;transition: none;}
}
body, html{height: 100%; width: 100%; top: 0;}


:root {
    --opacityPlayer1: 100%;
    --opacityPlayer2: 55%;
}

#playerTimer1 {
    opacity: var(--opacityPlayer1);
}
#playerTimer2 {
    opacity: var(--opacityPlayer2);
}

#PlayerTimerDiv {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

p {
  text-indent: 2em;
}

body {
}
body::before {
    z-index: -3;
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #fff;
    background-image: url("../art/background.jpg");
    background-blend-mode:luminosity;
}

cursor { cursor: url('../art/mdp/Robot_cursor.png'), auto; }